 body {
   padding-left: 0;
   padding-right: 0;
 }
 #page-wrapper {
   position: relative;
   width: 980px;
   /* centers the document */
   margin: 0 auto;
   /*
  hides anything drawn off canvas.
  remove overflow and height to see things drawn off canvas.
  */
   overflow: hidden;
   height: 1000px;
 }
 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 #absolute-wrapper {
   position: relative;
   width: 980px;
   margin: 0 auto;
   height: 1px;
 }
 #absolute-wrapper .rectangle.rectangle-1 {
   background: #30af42;
 }
 #absolute-wrapper .rectangle {
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
   border: none;
   position: absolute;
 }
 #absolute-wrapper .rectangle.rectangle-2 {
   border-radius: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-3 {
   width: 189px;
 }
 #absolute-wrapper .rectangle.rectangle-4 {
   height: 51px;
 }
 #absolute-wrapper .rectangle.rectangle-5 {
   top: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-6 {
   background: #1bc0b1;
 }
 #absolute-wrapper .rectangle.rectangle-7 {
   left: 383px;
 }
 #absolute-wrapper .rectangle.rectangle-8 {
   background: #bcc0c3;
   width: 119px;
   height: 117px;
 }
 #absolute-wrapper .rectangle.rectangle-9 {
   top: 112px;
 }
 #absolute-wrapper .rectangle.rectangle-10 {
   top: 113px;
 }
 #absolute-wrapper .rectangle.rectangle-11 {
   left: 809px;
 }
 #absolute-wrapper .rectangle.rectangle-12 {
   top: 253px;
 }
 #absolute-wrapper .rectangle.rectangle-13 {
   left: 355px;
 }
 #absolute-wrapper .rectangle.rectangle-14 {
   left: 506px;
 }
 #absolute-wrapper .rectangle.rectangle-15 {
   left: 657px;
 }
 #absolute-wrapper .rectangle.rectangle-16 {
   top: 254px;
 }
 #absolute-wrapper .rectangle.rectangle-17 {
   left: 203px;
 }
 #absolute-wrapper .rectangle.rectangle-18 {
   left: 52px;
 }
 #absolute-wrapper .rectangle.rectangle-19 {
   top: 398px;
 }
 #absolute-wrapper .rectangle.rectangle-20 {
   top: 399px;
 }
 #absolute-wrapper .rectangle.rectangle-21 {
   top: 536px;
 }
 #absolute-wrapper .rectangle.rectangle-22 {
   top: 537px;
 }
 #absolute-wrapper .rectangle.rectangle-23 {
   width: 422px;
   top: 692px;
 }
 #absolute-wrapper .rectangle.rectangle-24 {
   left: -1px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-4.rectangle-5.rectangle-24 input.textinput {
   font-family:"lobster";
   font-size: 22px;
   text-align: center;
   background: transparent;
   border: none;
   width: 116px;
   height: 20px;
   position: absolute;
   top: 10px;
   left: 30px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-4.rectangle-5.rectangle-25 {
   left: 791px;
 }
 #absolute-wrapper .rectangle.rectangle-1.rectangle-2.rectangle-3.rectangle-4.rectangle-5.rectangle-25 input.textinput {
   font-family:"lobster";
   text-align: center;
   background: transparent;
   border: none;
   width: 113px;
   height: 20px;
   position: absolute;
   top: 10px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-3.rectangle-4.rectangle-6.rectangle-7.rectangle-26 {
   border-radius: 0px 0px 250px 250px;
   top: 51px;
 }
 #absolute-wrapper .image {
   position: absolute;
 }
 #absolute-wrapper .image.image-1 {
   width: 83px;
   height: 85px;
 }
 #absolute-wrapper .image.image-2 {
   top: 6px;
 }
 #absolute-wrapper .image.image-3 {
   left: 16px;
 }
 #absolute-wrapper .image.image-4 {
   width: 107px;
   height: 105px;
 }
 #absolute-wrapper .image.image-5 {
   top: -4px;
 }
 #absolute-wrapper .image.image-6 {
   left: 4px;
 }
 #absolute-wrapper .image.image-7 {
   left: 5px;
 }
 #absolute-wrapper .image.image-8 {
   top: 5px;
 }
 #absolute-wrapper .image.image-9 {
   left: 17px;
 }
 #absolute-wrapper .image.image-10 {
   left: 18px;
 }
 #absolute-wrapper .image.image-11 {
   top: -3px;
 }
 #absolute-wrapper .image.image-12 {
   top: 4px;
 }
 #absolute-wrapper .image.image-13 {
   left: 15px;
 }
 #absolute-wrapper .image.image-14 {
   top: 7px;
 }
 #absolute-wrapper .image.image-15 {
   width: 78px;
   height: 91px;
   top: 1px;
   left: 442px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-27 {
   top: 111px;
   left: 810px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-27 .image.image-1.image-2 {
   left: 20px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-27 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 92px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-9.rectangle-28 {
   left: 356px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-9.rectangle-28 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 92px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-9.rectangle-29 {
   left: 507px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-9.rectangle-29 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 92px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-9.rectangle-30 {
   left: 658px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-9.rectangle-30 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 92px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-10.rectangle-31 {
   left: 204px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-10.rectangle-31 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 92px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-10.rectangle-31 .image.image-4.image-7 {
   top: -5px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-10.rectangle-32 {
   left: 53px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-10.rectangle-32 .image.image-3 {
   width: 87px;
   height: 78px;
   top: 8px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-10.rectangle-32 input.textinput {
   font-size: 11px;
   text-align: center;
   background: transparent;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 92px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-11.rectangle-33 {
   top: 252px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-11.rectangle-33 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 92px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-12.rectangle-13 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 92px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-12.rectangle-14 .image.image-4.image-11 {
   left: 7px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-12.rectangle-14 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 92px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-12.rectangle-15 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 92px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-16.rectangle-17 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 92px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-16.rectangle-18 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 92px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-11.rectangle-34 {
   top: 397px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-11.rectangle-34 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 91px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-13.rectangle-19 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 91px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-14.rectangle-19 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 91px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-15.rectangle-19 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 91px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-17.rectangle-20 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 91px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-18.rectangle-20 .image.image-1.image-12 {
   left: 11px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-18.rectangle-20 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 91px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-11.rectangle-35 {
   top: 535px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-11.rectangle-35 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 92px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-13.rectangle-21 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 92px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-14.rectangle-21 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 92px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-15.rectangle-21 .image.image-4 {
   top: -2px;
   left: 6px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-15.rectangle-21 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 92px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-18.rectangle-22 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 92px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-8.rectangle-17.rectangle-22 input.textinput {
   background: transparent;
   font-size: 11px;
   text-align: center;
   width: 105px;
   height: 15px;
   position: absolute;
   top: 92px;
   left: 0px;
 }
 #absolute-wrapper .rectangle.rectangle-2.rectangle-4.rectangle-14.rectangle-23 {
   background: #69acec;
 }